<!-- templates/_pagination.html -->
{% if pagination and pagination.total > pagination.per_page %}
<nav class="mt-5">
    <ul class="pagination justify-content-center">
        {% if pagination.has_prev %}
        <li class="page-item">
            <a class="page-link" href="
                {% if request.endpoint == 'business.search_business' %}
                    {{ url_for('business.search_business', page=pagination.page-1, search_query=search_query, category=selected_category) }}
                {% elif request.endpoint == 'user.businesses_by_category' %}
                    {{ url_for('user.businesses_by_category', category_id=category.id, page=pagination.page-1) }}
                {% else %}
                    {{ url_for('index.home', page=pagination.page-1) }}
                {% endif %}
            ">
                &laquo; Previous
            </a>
        </li>
        {% endif %}
        
        {% for p in range(1, (pagination.total // pagination.per_page) + 2) %}
            {% if p == pagination.page %}
            <li class="page-item active">
                <span class="page-link">{{ p }}</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="
                    {% if request.endpoint == 'business.search_business' %}
                        {{ url_for('business.search_business', page=p, search_query=search_query, category=selected_category) }}
                    {% elif request.endpoint == 'user.businesses_by_category' %}
                        {{ url_for('user.businesses_by_category', category_id=category.id, page=p) }}
                    {% else %}
                        {{ url_for('index.home', page=p) }}
                    {% endif %}
                ">
                    {{ p }}
                </a>
            </li>
            {% endif %}
        {% endfor %}
        
        {% if pagination.has_next %}
        <li class="page-item">
            <a class="page-link" href="
                {% if request.endpoint == 'business.search_business' %}
                    {{ url_for('business.search_business', page=pagination.page+1, search_query=search_query, category=selected_category) }}
                {% elif request.endpoint == 'user.businesses_by_category' %}
                    {{ url_for('user.businesses_by_category', category_id=category.id, page=pagination.page+1) }}
                {% else %}
                    {{ url_for('index.home', page=pagination.page+1) }}
                {% endif %}
            ">
                Next &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}